body { background:#eee; margin:0 }

.box1{
  float:left;
  height:45em;
  width:90%;
}
.box2 {
  float:right;
  height:45em;
  width:10%;
  background-color:yellow;
}
svg {
  display:block; position: relative;
  top:0%; left:0%; width:100%; height:100%;
}
.face { stroke:#000; stroke-width:20px; stroke-linecap:round }

form {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

rect {
  fill: none;
  pointer-events: all;
}

circle,
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle {
  fill: #fff;
  fill-opacity: .2;
  cursor: move;
}

circle:hover{
  fill: rgb(76, 100, 107);
}

.selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}